* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  height: 445px;
  max-width: 460px;
  border-radius: 4px;
  background-color: gray;
}

.keypad {
  gap: 5px;
  padding: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.keypad button:first-child {
  color: #ffffff;
  grid-column-end: 3;
  grid-column-start: 1;
  background-color: tomato;
}

.keypad button:nth-child(15) {
  color: #ffffff;
  grid-row: 4 / 6;
  grid-column: 4 / 4;
  background-color: rgb(99, 164, 99);
}

.keypad button:nth-child(16) {
  grid-column-start: 1;
  grid-column-end: 3;
}

.input,
.output {
  color: #fff;
  height: 40px;
  display: block;
  font-size: 30px;
  text-align: right;
  padding-right: 10px;
}

#display {
  font-size: 40px;
}

button {
  border: none;
  font-size: 28px;
  min-width: 80px;
  min-height: 65px;
  border-radius: 4px;
}
